<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    package="com.tenmiles.helpstack">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:theme="@style/HSAppTheme"
            android:label="@string/hs_app_name"/>
        <activity
            android:name=".activities.NewIssueActivity"
            android:theme="@style/HSAppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.NewUserActivity"
            android:theme="@style/HSAppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.IssueDetailActivity"
            android:theme="@style/HSAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".activities.ArticleActivity"
            android:theme="@style/HSAppTheme" />
        <activity android:name=".activities.SectionActivity"
            android:theme="@style/HSAppTheme"/>
        <activity android:name=".activities.ImageAttachmentDisplayActivity"
            android:theme="@style/HSAppTheme"/>
        <activity
            android:name=".activities.EditAttachmentActivity"
            android:theme="@style/HSAppTheme" />

        <receiver
            android:name=".service.AttachmentDownloadReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>